* {
    margin: 0;
    padding: 0;
}

body {
    overflow: hidden;
}

.left {
    float: left;
}

.right {
    float: right;
}

a {
    text-decoration: none;
    color: #fff;
}

li {
    list-style: none;
}

/* 清除浮动 */
.clearfix::after {
    content: "";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}