body {
    position: relative;
    overflow: hidden;
}

.discuss-room-inner-bg {
    width: 100%;
    height: 100vh;
}

.discuss-room-inner-bg img {
    width: 100%;
    height: 100%;
}

/* 头部 */
.discuss-header {
    position: fixed;
    top: 0;
    width: 100%;
    height: 90px;
    background-color: #fff;
    z-index: 10;
}

.return-button {
    width: 150px;
    /* padding: 0 20px; */
    text-align: center;
    line-height: 50px;
    font-size: 18px;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
    background-color: #74bedf;
    border-radius: 50px;
    margin-left: 50px;
    margin-top: 20px;
    box-shadow: 2px 2px 2px 1px rgb(0 0 0 / 20%);
}

.return-button:active {
    transform: scale(95%);
}

.start-discuss {
    width: 150px;
    /* padding: 0 20px; */
    text-align: center;
    line-height: 50px;
    font-size: 18px;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
    background-color: #74bedf;
    border-radius: 50px;
    margin-right: 50px;
    margin-top: 20px;
    box-shadow: 2px 2px 2px 1px rgb(0 0 0 / 20%);
}

.start-discuss:active {
    transform: scale(95%);
}

/* 群聊和私聊公共样式 */
.room-name {
    width: 1000px;
    height: 90px;
    text-align: center;
    line-height: 90px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    font-size: 40px;
    font-weight: 700;
    color: #74bedf;
}

.discuss-interface {
    position: absolute;
    top: 100px;
    /* top: -600px; */
    left: 50%;
    transform: translateX(-50%);
    width: 1100px;
    height: 600px;
    background-color: #f6e8ce;
    transition: all 1s;
    z-index: 5;
    cursor: pointer;
}

.discuss-interface.active {
    top: -600px;
}

/* .discuss-interface.active {} */

.discuss-interface .sidebar {
    position: relative;
    width: 100px;
    height: 100%;
    background-color: #74bedf;
}

.discuss-interface .sidebar .avatar {
    position: absolute;
    top: 20px;
    left: 25px;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    background-color: pink;
    overflow: hidden;
    cursor: pointer;
    border: 1px solid #fff;
}

.discuss-interface .sidebar img {
    width: 100%;
}

.discuss-interface .sidebar .group-chat-button {
    position: absolute;
    left: 30px;
    bottom: 120px;
    width: 40px;
    height: 40px;
    /* background-color: pink; */
    font-size: 40px;
    font-weight: 700;
    color: #fff;
    cursor: pointer;
}



.discuss-interface .sidebar .group-chat-button span {
    display: none;
    position: absolute;
    top: -5px;
    left: 60px;
    width: 100px;
    text-align: center;
    height: 50px;
    line-height: 50px;
    background-color: #ccc;
    border-radius: 10px;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    opacity: 0.9;
}

.discuss-interface .sidebar .group-chat-button:hover span {
    display: block;
}


.private-chat .sidebar .group-chat-button {
    color: #ccc;
}

.discuss-interface .sidebar .group-chat-button:active {
    transform: scale(95%);
}

.discuss-interface .sidebar .private-chat-button {
    position: absolute;
    left: 30px;
    bottom: 50px;
    width: 40px;
    height: 40px;
    /* background-color: skyblue; */
    font-size: 40px;
    font-weight: 700;
    color: #fff;
    cursor: pointer;
}

.discuss-interface .sidebar .private-chat-button span {
    display: none;
    position: absolute;
    top: -5px;
    left: 60px;
    width: 100px;
    text-align: center;
    height: 50px;
    line-height: 50px;
    background-color: #ccc;
    border-radius: 10px;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    opacity: 0.9;
}

.discuss-interface .sidebar .private-chat-button:hover span {
    display: block;
}

.group-chat .sidebar .private-chat-button {
    color: #ccc;
}

.discuss-interface .sidebar .private-chat-button:active {
    transform: scale(95%);
}

.discuss-interface .right-box {
    padding: 20px;
    width: 1000px;
    height: 600px;
    background-color: #a2ddff;
    box-sizing: border-box;
}

.discuss-interface .right-box .user-list {
    padding-top: 10px;
    width: 250px;
    height: 560px;
    /* background-color: aqua; */
    box-sizing: border-box;
}

.discuss-interface .right-box .user-list .room-name {
    position: relative;
    padding: 0 40px;
    margin-bottom: 20px;
    width: 250px;
    text-align: center;
    height: 50px;
    line-height: 50px;
    font-size: 20px;
    font-weight: 700;
    color: #fff;
    border-radius: 50px;
    background-color: #74bedf;
    box-sizing: border-box;
}

/* .discuss-interface .right .user-list .user-list-search {
    position: relative;
    padding: 0 40px;
    margin-bottom: 20px;
    width: 250px;
    height: 50px;
    border-radius: 50px;
    background-color: #d7c297;
    box-sizing: border-box;
}

.discuss-interface .right .user-list .user-list-search .search-input {
    width: 170px;
    height: 50px;
    border: 0;
    outline: none;
    background-color: transparent;
    font-size: 18px;
}

.discuss-interface .right .user-list .user-list-search .search-button {
    position: absolute;
    top: 0;
    right: 0;
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    font-size: 35px;
    font-weight: 600;
    color: #e99a6e;
    cursor: pointer;
} */

.discuss-interface .right-box .user-list .user-list-member {
    width: 250px;
    height: 435px;
    /* background-color: pink; */
    overflow-y: auto;
    overflow-x: hidden;
}

/* 滚动条样式 */
.user-list-member::-webkit-scrollbar {

    width: 0px;

}


.discuss-interface .right-box .user-list .user-list-member .title {
    margin-left: 10px;
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: 600;
    color: #444;
}

.discuss-interface .right-box .user-list .user-list-member .member {
    margin-bottom: 10px;
    padding: 10px 0;
    width: 250px;
    height: 50px;
    border-radius: 10px;
    background-color: #ffffff;
    cursor: pointer;
}

.discuss-interface .right-box .user-list .user-list-member .member .avatar {
    margin-left: 20px;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    overflow: hidden;
}

.discuss-interface .right-box .user-list .user-list-member .member .avatar img {
    width: 100%;
}

.discuss-interface .right-box .user-list .user-list-member .member .name {
    width: 140px;
    height: 50px;
    line-height: 50px;
    font-size: 18px;
    font-weight: 600;
    margin-left: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.discuss-interface .right-box .dialogue-box {
    width: 690px;
    height: 560px;
    background-color: #fdf9ed;
    border-radius: 50px;
    overflow: hidden;
}

.discuss-interface .right-box .dialogue-box .top {
    width: 690px;
    height: 70px;
    line-height: 70px;
    text-align: center;
    background-color: #74bedf;
    font-size: 25px;
    font-weight: 700;
    color: #fff;
}

.discuss-interface .right-box .dialogue-box .middle {
    width: 690px;
    height: 400px;
    background-color: #b6e1f3;
}

.discuss-interface .right-box .dialogue-box .middle.dialogue {
    overflow-x: hidden;
    overflow-y: auto;
    padding-bottom: 10px;
}

.dialogue::-webkit-scrollbar {
    width: 0px;
}

.discuss-interface .right-box .dialogue-box .middle.dialogue .speak {
    position: relative;
    width: 690px;
    /* height: 100px; */
    box-sizing: border-box;
}

.discuss-interface .right-box .dialogue-box .middle.dialogue .speak.speak-left {
    /* background-color: pink; */
}

.speak-left {
    padding-left: 60px;
}

.speak-left .avatar {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    overflow: hidden;
    /* background-color: red; */
}

.speak-left .avatar img {
    width: 100%;
}

.speak-left .name {
    padding-top: 10px;
    padding-left: 10px;
    font-size: 14px;
    font-weight: 600;
}

.speak-left .remark {
    width: fit-content;
    max-width: 250px;
    margin-top: 5px;
    margin-left: 10px;
    /* position: absolute; */
    position: relative;
    padding: 10px;
    background-color: #fff;
    border-radius: 5px;
}

.speak-left .remark::before {
    position: absolute;
    top: 10px;
    left: -5px;
    content: "";
    width: 10px;
    height: 10px;
    background-color: #fff;
    transform: rotateZ(45deg);
}

.discuss-interface .right-box .dialogue-box .middle.dialogue .speak.speak-right {
    /* background-color: skyblue; */
}

.speak.speak-right {
    padding-right: 60px;
}

.speak-right .avatar {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    overflow: hidden;
    /* background-color: red; */
}

.speak-right .avatar img {
    width: 100%;
}

.speak-right .name {
    float: right;
    padding-top: 10px;
    padding-right: 10px;
    font-size: 14px;
    font-weight: 600;
}

.speak-right .remark {
    float: right;
    width: fit-content;
    max-width: 250px;
    margin-top: 5px;
    margin-right: 10px;
    /* position: absolute; */
    position: relative;
    padding: 10px;
    background-color: #fff;
    border-radius: 5px;
}

.speak-right .remark::before {
    position: absolute;
    top: 10px;
    right: -5px;
    content: "";
    width: 10px;
    height: 10px;
    background-color: #fff;
    transform: rotateZ(45deg);
}

.discuss-interface .right-box .dialogue-box .bottom {
    width: 690px;
    height: 90px;
    background-color: #74bedf;
}

.discuss-interface .right-box .dialogue-box .bottom .bottom-input {
    width: 450px;
    height: 50px;
    margin-top: 15px;
    margin-left: 50px;
    padding: 0 20px;
    font-size: 18px;
    border: 0;
    outline: none;
    border-radius: 5px;
}

.discuss-interface .right-box .dialogue-box .bottom .bottom-send {
    margin-top: 15px;
    width: 80px;
    text-align: center;
    height: 50px;
    line-height: 50px;
    font-size: 20px;
    font-weight: 600;
    color: #444;
    cursor: pointer;
    border: 0;
    background-color: transparent;
}

.discuss-interface .right-box .dialogue-box .bottom .bottom-send:active {
    transform: scale(95%);
}

.discuss-interface .right-box .dialogue-box .bottom .bottom-more {
    margin-top: 28px;
    margin-right: 45px;
    width: 25px;
    height: 25px;
    line-height: 25px;
    /* background-color: pink; */
    border-radius: 25px;
}

.discuss-interface .right-box .dialogue-box .bottom .bottom-more i {
    font-size: 25px;
    font-weight: 700;
    color: #444;
    cursor: pointer;
}


.discuss-interface.group-chat {
    background-color: pink;
    z-index: 2;
}

.discuss-interface.private-chat {
    background-color: skyblue;
    z-index: 1;
}



/* 关闭按钮 */
.discuss-close {
    position: absolute;
    top: 45px;
    right: -65px;
    width: 50px;
    height: 50px;
    font-size: 50px;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
}

.discuss-close:active {
    transform: scale(95%);
}

/* 用户信息 */
/* .info-dotted {
    position: absolute;
    width: 80px;
    height: 80px;
    cursor: pointer;
    z-index: 1;
}



.info-dotted .info {
    display: none;
    position: absolute;
    top: -240px;
    right: -163px;
    padding: 20px;
    width: 200px;
    height: 200px;
    border-radius: 20px;
    background-color: #f6e8ce;
    opacity: 0;
    transition: all 1s;
}

@keyframes appear {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes disappear {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

.info-dotted .info .top {
    width: 100%;
    height: 50px;
    margin-bottom: 10px;
}

.info-dotted .info .top .avatar {
    margin-right: 10px;
    width: 50px;
    height: 50px;
    background-color: pink;
    overflow: hidden;
    border-radius: 50px;
}

.info-dotted .info .top .avatar img {
    width: 100%;
}

.info-dotted .info .top .btn {
    float: left;
    margin-top: 10px;
    margin-left: 10px;
    width: 55px;
    text-align: center;
    height: 30px;
    line-height: 30px;
    border-radius: 40px;
    font-size: 16px;
    font-weight: 600;
    color: #c2761c;
    background-color: #e7c69e;
}

.info-dotted .info .top .btn:active {
    transform: scale(95%);
}

.info-dotted .info .info-item {
    margin-bottom: 8px;
    font-size: 16px;
    font-weight: 600;
    color: #9c6941;
}

.info-dotted .info .info-item i {
    margin-right: 5px;
}


.info-dotted1 {
    top: 410px;
    left: 275px;
}

.info-dotted2 {
    top: 410px;
    left: 510px;
}

.info-dotted3 {
    top: 410px;
    left: 745px;
}

.info-dotted4 {
    top: 410px;
    left: 980px;
}

.info-dotted5 {
    top: 410px;
    left: 1215px;
}

.info-dotted6 {
    top: 535px;
    left: 275px;
}

.info-dotted7 {
    top: 535px;
    left: 510px;
}

.info-dotted8 {
    top: 535px;
    left: 745px;
}

.info-dotted9 {
    top: 535px;
    left: 982px;
}

.info-dotted10 {
    top: 535px;
    left: 1215px;
} */

.friend-info {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 50px;
    margin: auto;
    width: 600px;
    height: 400px;
    background-color: #f8f4e9;
    z-index: 10;
    border-radius: 10px;
    box-shadow: 3px 3px 30px 1px rgb(0 0 0 / 20%);
}

.friend-info .top {
    padding: 10px;
    background-color: #ede2c6;
}
.friend-active{
    left: 750px;
    position: absolute;
    z-index: 111111111111111;
    display: block;
}

.friend-info .top .avatar {
    width: 80px;
    height: 80px;
    border-radius: 80px;
    overflow: hidden;
}

.friend-info .top .avatar img {
    width: 100%;
}

.friend-info .top .info {
    margin-left: 30px;
}

.friend-info .top .info .name {
    height: 50px;
    line-height: 50px;
    font-size: 24px;
    font-weight: 600;
}

.friend-info .top .info .other-info>span {
    font-weight: 600;
    margin-right: 10px;
}

.friend-info .top .right {
    margin-top: 20px;
    margin-right: 20px;
    padding: 0 30px;
    height: 40px;
    line-height: 40px;
    font-size: 18px;
    font-weight: 600;
    background-color: #98cfef;
    cursor: pointer;
    border-radius: 10px;
}

.friend-info .top .right:active {
    transform: scale(0.95);
}

.friend-info>.left {
    width: 60%;
}

.friend-info .left .info-item {
    margin-top: 40px;
    font-size: 22px;
    font-weight: 600;
}

.friend-info .left .info-item>i {
    margin-right: 20px;
    font-size: 20px;
}

.friend-info .left .tag .tag-item {
    display: inline-block;
    height: 30px;
    line-height: 30px;
    margin-top: 5px;
    padding: 5px 10px;
    background-color: #ede2c6;
    border-radius: 5px;
    font-size: 14px;
    font-weight: 600;
    color: #444;
    cursor: pointer;
}

.friend-info>.right {
    margin-top: 30px;
    width: 40%;
}

.friend-info .right .self-introduction {
    max-height: 180px;
    border-radius: 10px;
    background-color: #ede2c6;
}


.friend-info .right .self-introduction .title {
    padding: 10px;
    font-weight: 600;
    color: #333;
}

.friend-info .right .self-introduction .content {
    padding: 10px;
    padding-top: 0;
    font-size: 14px;
    line-height: 20px;
    font-weight: 600;
    color: #333;
}

.friend-info .right .join-room {
    margin-top: 20px;
    border-radius: 10px;
    background-color: #ede2c6;
}

.friend-info .right .join-room .title {
    padding: 10px;
    font-weight: 600;
    color: #333;
}

.friend-info .right .join-room .content {
    padding: 10px;
    padding-top: 0;
    font-size: 14px;
    font-weight: 600;
    color: #333;
}

.friend-info .right .join-room .content>div {
    padding: 5px;
}

/* 点 */
.dotted {
    position: absolute;
    top: 255px;
    left: 525px;
    width: 80px;
    height: 80px;
    border-radius: 80px;
    cursor: pointer;
}

.dotted.dotted1 {
    top: 255px;
    left: 525px;
}

.dotted.dotted2 {
    top: 245px;
    left: 613px;
}

.dotted.dotted3 {
    top: 254px;
    left: 710px;
}

.dotted.dotted4 {
    top: 355px;
    left: 686px;
}

.dotted.dotted5 {
    top: 355px;
    left: 537px;
}

.dotted.dotted6 {
    top: 290px;
    left: 865px;
}

.dotted.dotted7 {
    top: 280px;
    left: 953px;
}

.dotted.dotted8 {
    top: 289px;
    left: 1050px;
}

.dotted.dotted9 {
    top: 390px;
    left: 1026px;
}

.dotted.dotted10 {
    top: 390px;
    left: 877px;
}

.dotted.dotted11 {
    top: 489px;
    left: 232px;
}

.dotted.dotted12 {
    top: 468px;
    left: 325px;
}

.dotted.dotted13 {
    top: 475px;
    left: 428px;
}

.dotted.dotted14 {
    top: 573px;
    left: 249px;
}

.dotted.dotted15 {
    top: 573px;
    left: 398px;
}

.dotted.dotted16 {
    top: 499px;
    left: 591px;
}

.dotted.dotted17 {
    top: 487px;
    left: 683px;
}

.dotted.dotted18 {
    top: 487px;
    left: 792px;
}

.dotted.dotted19 {
    top: 581px;
    left: 614px;
}
.dotted.dotted20 {
    top: 581px;
    left: 764px;
}

.dotted.dotted21 {
    top: 505px;
    left: 971px;
}

.dotted.dotted22 {
    top: 480px;
    left: 1063px;
}

.dotted.dotted23 {
    top: 510px;
    left: 1163px;
}
.dotted.dotted24 {
    top: 604px;
    left: 993px;
}

.dotted.dotted25 {
    top: 604px;
    left: 1141px;
}

.dotted.dotted26 {
    top: 340px;
    left: 1215px;
}

.dotted.dotted27 {
    top: 330px;
    left: 1303px;
}

.dotted.dotted28 {
    top: 339px;
    left: 1413px;
}

.dotted.dotted29 {
    top: 440px;
    left: 1245px;
}
.dotted.dotted30 {
    top: 440px;
    left: 1392px;
}