/* 所有页面共用的样式 */
* {
    margin: 0;
    padding: 0;
}

.left {
    float: left;
}

.right {
    float: right;
}

/* 清除浮动 */
.clearfix::after {
    content: "";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

/* 淡出 */
@keyframes appear {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

/* 淡入 */
@keyframes disappear {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

/* 弹出 */
@keyframes popup {
    0% {
        transform: translateY(100px);
    }

    100% {
        transform: translateY(0);
    }
}

/* 弹回 */
@keyframes popback {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(100px);
    }
}