/* 我的问题 */
.my-question {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 180px;
    height: 180px;
    background: url(../images/stone2_2.png) no-repeat;
    background-size: contain;
    z-index: 2;
    cursor: pointer;
    transition: all .3s;
}

.my-question:hover {
    transform: scale(105%);
}

/* 点击石头，发起提问 */
.stone-text {
    position: absolute;
    right: 150px;
    bottom: 22px;
    width: 200px;
    font-family: cursive;
    font-size: 20px;
    font-weight: 500;
    opacity: 0.5;
}

.my-question-backdrop {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 5;
    background-color: rgba(18, 18, 18, .65);
    transition: background-color .3s ease-out;
}

.my-question-box {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    width: 900px;
    height: 600px;
    background-color: #f1f3f4;
    box-shadow: 5px 5px 20px -10px #000;
    border-radius: 50px;
    z-index: 5;
    /* overflow: hidden; */
}

.close.close-question {
    position: absolute;
    top: 40px;
    right: -60px;
    width: 30px;
    text-align: center;
    height: 30px;
    line-height: 30px;
    border-radius: 20px;
    transition: all 0.5s;
    cursor: pointer;
}

.close.close-question i {
    font-size: 40px;
    color: #fff;
}

.my-question-box .header {
    height: 80px;
    background-color: #ccc;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
}

.my-question-box .header .nav {
    float: left;
    width: 33.3%;
    line-height: 80px;
    text-align: center;
    font-size: 25px;
    cursor: pointer;
}

.my-question-box .header .nav.active {
    background-color: #f1f3f4;
}

.my-question-box .header .nav.left {
    border-top-left-radius: 50px;

}

.my-question-box .header .nav.left.active {
    border-top-right-radius: 50px;
}

.my-question-box .header .nav.middle {
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
}



.my-question-box .header .nav.right {
    border-top-right-radius: 50px;
}

.my-question-box .header .nav.right.active {
    border-top-left-radius: 50px;
}

.my-question-box .content.active {
    display: block;
}

.my-question-box .now-content {
    display: none;
    height: 520px;
    margin-top: 20px;
    /* background-color: #f1f3f4; */
    /* background-color: pink; */
}

.my-question-box .now-content .ask {
    width: 85%;
    height: 90%;
    background-color: #ffffff;
    margin: 10px auto;
    border-radius: 10px;
    font-weight: 700;
    box-shadow: 0 0 10px 2px rgb(0 0 0 / 6%);
}

.ask {
    overflow: auto;
}

.qContent {
    display: inline-block;
    /*height: 50px;*/
    font-size: 12px;
    margin: 0 0 10px 0;
}

.qContent .tag {
    height: 20px;
    padding: 2px 5px;
    /*margin: 10px;*/
    margin-right: 5px;
    line-height: 20px;
    font-size: 14px;
    font-weight: 600;
    background-color: #F5F5F5;
    color: #999999;
    border-radius: 5px;
}

/* 发布问题模块的一些样式设置 */
.questionHeader {
    text-overflow: ellipsis;
    overflow: hidden;
    outline: none;
    width: 99%;
    height: 50px;
    /*background-color: red;*/
    border-left: 0;
    border-right: 0;
    border-top: 0;
    border-bottom: 1px solid #999999;
    margin: 10px 0 0 10px;
    padding-left: 5px;
    /*border-radius: 5px;*/
    font-size: 24px;
    color: black;
    font-weight: 700;
}

.questionBody {
    outline: none;
    width: 100%;
    margin: 10px 0 0 10px;
    font-size: 20px;
    font-weight: 400;
}

.questionBody>div {
    padding: 5px 0;
}

.questionBody>div .qCustomize {
    display: inline-block;
    width: 28px;
    height: 28px;
    padding: 3px 0;
    margin: 0 2px;
    vertical-align: text-bottom;
}


.questionBody>.qImage img:not(img[class]) {
    width: 300px;
    height: 150px;
    margin: 0 10px 0 0;
}

.titleSize {
    position: absolute;
    top: 26px;
    right: 20px;
    font-size: 14px;
    color: #999999;
    font-weight: 400;
}

.now-content .bottom .left {
    position: absolute;
    top: 121px;
    left: 10px;
    width: 50px;
    /*height: 200px;*/
    background-color: #ffffff;
    border-radius: 25px;
    box-shadow: 0 0 10px 2px rgb(0 0 0 / 6%);
}

.now-content .bottom .right {
    position: absolute;
    bottom: 45px;
    right: 80px;
}

.right button {
    border: 0;
    width: 100px;
    height: 35px;
    border-radius: 10px;
    font-size: 16px;
    color: #999999;
}

.now-content .bottom .left span {
    cursor: pointer;
    display: inline-block;
    margin: 10px 0 8px 10px;
}

.now-content .bottom .left span .iconfont {
    color: #999999;
    font-size: 30px;
}

/* 工具模块的样式设置 */
.function {
    position: absolute;
    width: 225px;
    height: 445px;
    /*height: 225px;*/
    top: 124px;
    left: -225px;
    border-radius: 15px;
    background-color: #ffffff;
    box-shadow: 0 0 10px 2px rgb(0 0 0 / 6%);
}

.function>div {
    position: relative;
    width: 90%;
    height: 92%;
    margin: 17px auto;
    background-color: #ffffff;
}

.function .customize>ul {
    width: 100%;
    height: 100%;
    overflow: auto;

}

.function .customize>ul>li {
    position: relative;
    cursor: pointer;
    list-style: none;
    float: left;
    width: 20%;
    height: 10%;
    margin: 0 5px 5px 5px;
    /*background-color: red;*/
}

.customize ul>li img {
    width: 100%;
    height: 100%;
}

.addCustomize {
    background-color: rgba(0, 0, 0, .1);
}

.addCustomize span {
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    width: 40px;
    height: 40px;
    font-size: 39px;
    color: #999999;
    text-align: center;
    line-height: 35px;

}

.addCustomize input {
    cursor: pointer;
    width: 40px;
    height: 40px;
    opacity: 0;
}

.image {
    overflow: hidden;
    ;
}

.image input[type='file'] {
    opacity: 0;
}

.image img {
    width: 100%;
    height: 202px;
}

.add {
    position: relative;
    width: 90%;
    height: 44%;
    /*height: 90%;*/
    margin: 0 auto;
    border-radius: 10px;
    background-color: #F5F5F5;
}

.add input {
    cursor: pointer;
    width: 100%;
    height: 100%;
}

.add span {
    cursor: pointer;
    position: absolute;
    top: 33px;
    left: 60px;
    font-size: 76px;
    color: #999999;
}

/*.add img {*/
/*    position: absolute;*/
/*    top: 0;*/
/*    left: 0;*/
/*    width: 100%;*/
/*    height: 100%;*/
/*}*/
::-webkit-scrollbar {
    width: 6px;
    height: 4px;

}

::-webkit-scrollbar-thumb {
    background-color: #F0F0F5;
    background-clip: padding-box;
    min-height: 100px;
}

::-webkit-scrollbar-track {
    width: 3px;
    background-color: #f9f9f9;
}

.my-question-box .search-content {
    display: none;
    padding: 150px;
}

.my-question-box .search-content .left input {
    width: 400px;
    margin: 0 50px;
    font-size: 20px;
    height: 50px;
    border: 0;
    outline: none;
}

.my-question-box .search-content .right button {
    width: 100px;
    height: 50px;
    background-color: #cccccc;
    border: none;
    color: white;
    padding: 13px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    cursor: pointer;
}

.my-question-box .search-content .search-box {
    height: 50px;
    /* border-radius: 50px; */
    background-color: #fff;
}

.my-question-box .history-content {
    display: none;
    max-height: 450px;
    box-sizing: border-box;
    margin: 36px 100px;
    overflow-y: auto;
}

.my-question-box .history-content ul li {
    margin-bottom: 10px;
    padding: 10px;
    list-style: none;
    background-color: #fff;
    border-radius: 5px;
}