* {
    margin: 0;
    padding: 0;
}

body {
    position: relative;
    min-height: 100vh;
    overflow: hidden;
}

/* .wave {
    width: 185%;
    height: 400%;
    position: absolute;
    bottom: 10%;
    left: 50%;
    right: 50%;
    background-color: deepskyblue;
    filter: opacity(0.4);
    border-radius: 43%;
    animation: drift 20s linear infinite;
} */



.bg {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: whitesmoke;
    /* background-image: linear-gradient(#ff8a00, rgba(255, 255, 255, 0) 80%, rgba(255, 255, 255, 0.5)); */
    /* background-image: linear-gradient(#fbb8a0, #ffe8ce, #f5f3f2); */
    /* background-image: linear-gradient(#f7cb6b, #ffe8ce, #f5f3f2); */
    /* background-image: linear-gradient(#e2c69e, #ffcd5d, #ea8a3e); */
    background-image: url(../images/sky.png);
    background-size: cover;
    background-position: center;
    z-index: 1;
}

.beacon {
    position: absolute;
    bottom: -36px;
    left: -138px;
    width: 750px;
    height: 300px;
    background: url(../images/beacon.png) no-repeat;
    background-size: contain;
    z-index: 4;
}

.wave {
    position: absolute;
    left: 0;
    left: -40px;
    right: -40px;
    bottom: -40px;
    width: 200%;
    height: 280px;
    background-color: deepskyblue;
    filter: blur(40px) opacity(.8);
}

.cloud1 {
    position: absolute;
    top: 40px;
    left: 350px;
    width: 400px;
    height: 125px;
    background-color: transparent;
    background-image: url(../images/cloud1.png);
    background-repeat: no-repeat;
    background-size: contain;
}

.cloud2 {
    position: absolute;
    top: 50px;
    right: 300px;
    width: 400px;
    height: 125px;
    background-color: transparent;
    background-image: url(../images/cloud1.png);
    background-repeat: no-repeat;
    background-size: contain;
}

.cloud3 {
    position: absolute;
    top: 130px;
    left: 100px;
    width: 200px;
    height: 150px;
    background-color: transparent;
    background-image: url(../images/cloud2.png);
    background-repeat: no-repeat;
    background-size: contain;
}

.cloud4 {
    position: absolute;
    top: 130px;
    right: 100px;
    width: 560px;
    height: 190px;
    background-color: transparent;
    background-image: url(../images/cloud3.png);
    background-repeat: no-repeat;
    background-size: contain;
}

.sea {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 260px;
    background-image: url(../images/sea.png);
    background-size: cover;
    background-position: center;
}

/* @keyframes drift {

    0%,
    100% {
        clip-path: polygon(0 40%, 6% 46%, 10% 49%, 15% 54%, 20% 58%, 27% 62%, 32% 64%, 37% 64%, 44% 62%, 48% 58%, 53% 55%, 59% 51%, 65% 49%, 71% 48%, 77% 48%, 83% 51%, 88% 54%, 94% 59%, 100% 65%, 100% 100%, 0% 99%);
    }

    50% {
        clip-path: polygon(0 65%, 5% 61%, 9% 56%, 14% 53%, 21% 50%, 27% 51%, 32% 54%, 38% 59%, 44% 62%, 49% 65%, 54% 67%, 60% 69%, 66% 69%, 72% 67%, 78% 64%, 85% 61%, 90% 57%, 95% 54%, 100% 49%, 100% 100%, 0% 99%);
    }
} */


@keyframes drift {

    0%,
    100% {
        clip-path: polygon(0 65%, 5% 61%, 9% 56%, 14% 53%, 21% 50%, 27% 51%, 32% 54%, 38% 59%, 44% 62%, 49% 65%, 54% 67%, 60% 69%, 66% 69%, 72% 67%, 78% 64%, 85% 61%, 90% 57%, 95% 54%, 100% 49%, 100% 100%, 0% 99%);
        /* clip-path: polygon(0 100%, 0 64%, 7% 55%, 11% 50%, 16% 48%, 21% 48%, 27% 51%, 38% 63%, 50% 76%, 55% 79%, 61% 78%, 67% 75%, 72% 72%, 78% 68%, 85% 62%, 93% 55%, 100% 46%, 100% 100%); */
    }

    50% {
        clip-path: polygon(0 40%, 6% 46%, 10% 49%, 15% 54%, 20% 58%, 27% 62%, 32% 64%, 37% 64%, 44% 62%, 48% 58%, 53% 55%, 59% 51%, 65% 49%, 71% 48%, 77% 48%, 83% 51%, 88% 54%, 94% 59%, 100% 65%, 100% 100%, 0% 99%);
        /* clip-path: polygon(0 100%, 0 47%, 5% 59%, 10% 67%, 15% 72%, 20% 74%, 26% 71%, 37% 61%, 47% 49%, 53% 42%, 58% 39%, 63% 40%, 71% 46%, 79% 54%, 85% 61%, 92% 69%, 100% 80%, 100% 100%); */
    }
}

.wave:nth-of-type(1) {
    left: 50%;
    animation: drift 9s linear infinite;
    background-color: #ffefd7;
    /* background-color: skyblue; */
}

.wave:nth-of-type(2) {
    right: 50%;
    animation: drift 7s linear infinite;
    /* background-color: #f5e068; */
    background-color: #6dbefd;
}

.wave:nth-of-type(3) {
    animation: drift 5s linear infinite;
    /* background-color: #da7643; */
    background-color: deepskyblue;
}

.boat {
    width: 380px;
    height: 330px;
    position: absolute;
    bottom: 190px;
    left: 70%;
    transform: translateX(-50%);
    background: url(../images/chuan3.png) no-repeat;
    background-size: contain;
    z-index: 3;
    /* animation: rowing-come 2s; */
    animation: boatMove 2s infinite;
    cursor: pointer;
}

.boat .shadow {
    position: absolute;
    bottom: -300px;
    width: 380px;
    height: 300px;
    background: url(../images/shadow.png) no-repeat;
    background-size: contain;
}

@keyframes boatMove {

    0%,
    100% {
        bottom: 190px;
    }

    50% {
        bottom: 180px;
    }
}

/* .boat .flag {
    position: absolute;
    top: 245px;
    left: 248px;
    width: 115px;
    height: 60px;
    background: url(../images/chuan2.png) no-repeat;
    background-size: contain;
} */

.boat .text {
    position: absolute;
    top: -50px;
    left: 100px;
    font-family: cursive;
    font-size: 20px;
    font-weight: 500;
    opacity: 0.5;
}

/* .boat .flag.active {
    top: 10px;
    animation: up 2s;

}

@keyframes up {
    0% {
        top: 245px;
    }

    100% {
        top: 10px;
    }
} */

.boat.boat-login-in {
    left: 50%;
}

.boat.boat-login-up {
    left: 125%;
}

.boat.come {
    left: 50%;
    animation: rowing-come 3s;
}

.boat.leave {
    left: 125%;
    animation: rowing-leave 3s;
}

@keyframes rowing-come {
    0% {
        left: 125%;
    }

    100% {
        left: 50%;
    }
}

@keyframes rowing-leave {
    0% {
        left: 50%;
    }

    100% {
        left: -125%;
    }
}

.form {
    /* opacity: 0; */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 30px 100px 30px 100px;
    transition: all 0.2s 0.7s;
    overflow: hidden;
    /* background-image: linear-gradient(#fe9110, #f4efe9); */
    background-color: #f6f7f8;
    border-radius: 50px;
    opacity: 0;
    z-index: -1;
    transition: opacity 2s;
}

.form.active {
    opacity: 0.9;
    z-index: 3;
    transition: opacity 1s;
    animation: form-popup 1s;
}

@keyframes form-popup {
    0% {
        transform: translate(-50%, -40%);

    }

    100% {
        transform: translate(-50%, -50%);
    }

}

.title {
    font-size: 36px;
    color: #444;
    margin-bottom: 10px;
    cursor: pointer;
}

.input-box {
    position: relative;
    width: 100%;
    background-color: #eadddc;
    margin: 10px 0;
    height: 55px;
    border-radius: 55px;
    display: grid;
    grid-template-columns: 15% 85%;
}

.input-box label {
    text-align: center;
    cursor: pointer;
}

.input-box i {
    text-align: center;
    line-height: 55px;
    color: #acacac;
    transition: 0.5s;
    font-size: 18px;
}

.input-box input {
    padding-right: 40px;
    background: none;
    outline: none;
    border: none;
    line-height: 1;
    font-weight: 600;
    font-size: 18px;
    color: #333;
}

.input-box input::placeholder {
    color: #aaa;
    font-weight: 500;
}

.btn {
    width: 150px;
    height: 49px;
    margin: 10px 0;
    border: none;
    outline: none;
    border-radius: 49px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    cursor: pointer;
    background-color: #5995fd;
}

.btn:hover {
    background-color: #4d84e2;
}

.btn:active {
    transform: scale(0.95);
}

form[class^="sign"] a {
    color: #333;
    font-weight: 600;
    text-decoration: none;
    transition: color 0.5s;
}

form[class^="sign"] a:hover {
    color: #4d84e2;
}

form[class^="sign"] a:active {
    transform: scale(95%);
}

/* 提示框 */
.prompt-box {
    position: absolute;
    top: -100px;
    left: 50%;
    transform: translateX(-50%);
    width: 300px;
    height: 80px;
    line-height: 80px;
    font-size: 20px;
    font-weight: 600;
    color: #fff;
    z-index: 4;
    background-color: red;
    opacity: 0.6;
    border-radius: 20px;
    text-align: center;
    /* animation: move 0.5s; */
}

@keyframes move {
    0% {
        top: -100px;
    }

    100% {
        top: 100px;
    }
}