@font-face {
    font-family: yuan;
    src: url(../AaYuanHeiTi/AaYuanHeiTi-2.ttf);
}
body{
    width: 100vw;
    height: 100vh;
    background-image: url(../images/fisrt.png);
    overflow: hidden;
}
.school-button {
    position: absolute;
}
.discuss-button {
    width: 400px;
    height: 200px;
    /* background-color: antiquewhite; */
    left: 56%;
    top: 11%;
    cursor: pointer;
}
.room-button {
    width: 100px;
    height: 160px;
    left: 6%;
    top: 46%;
    cursor: pointer;
    /* background-color: antiquewhite; */
}
.question-button {
    position: absolute;
    width: 400px;
    height: 150px;
    left: 0;
    top: 80%;
    cursor: pointer;
}
.discuss-bt{
    width: 20px;
    height: 20px;
    border: 3px solid #fff;
    border-radius: 50%;
    position: absolute;
    top: 30%;
    left: 46%;
}
.discuss-button .discuss-box{
    width: 130px;
}
.discuss-box{
    position: absolute;
    bottom: 0;
    height: 40px;
    width: 100%;
    line-height: 40px;
    padding: 0px 40px;
    border-radius: 10px;
    background-color: rgb(0, 0, 0,.4);
    left: 24%;
    top: 65%;
    font-family: yuan;
    font-size: 25px;
    color: rgb(255, 255, 255,.9);
    /* opacity: 0; */
    border: 3px solid #828b8e;
    /* transition: all .2s; */
}
.share-box{
    opacity: 0;
}
.discuss-ban{
    width: 100%;
    height: 100%;
    position: relative;
}
.room-bt{
    top: 20%;
    left: 25%;
}
.room-box{
    left: 100%;
    top: 15%;
}
.discuss-inner{
    width: 80%;
    height: 80%;
    margin-top: 2px;
    margin-left: 2.5px;
    box-shadow: 10px 10px 30px rgb(189, 191, 193);
    border-radius: 50%;
    background-color: rgb(255, 240, 221);
    opacity: 0;
}
.school-bgc {
    cursor: pointer;
    background-color: rgb(255, 255, 255,.8);
    background-size: cover;
}
.question-bt{
    top: 20%;
    left: 25%;
}
.question-box{
    width: 100px;
    top: 57%;
    left: 7%;
}
.cloud-bt{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 28%;
    height: 160px;
    margin: auto;
    padding: 20px 80px;
    border-radius: 10px;
    /* background-color: rgba(185, 228, 242, 0.4); */
    font-family: yuan;
    color: rgb(255, 255, 255,.9);
    text-shadow: 3px 3px 10px rgb(129, 162, 175);
    font-size: 80px;
    z-index: 11111111;
    cursor: pointer;
}
.cloud-bt i{
    font-weight: 700;
    margin-right: 20px;
    font-size: 60px;
}
.cloud-bt p{
    padding: 5px 10px;
    line-height: 90px;
}
.cloud-bt p:nth-child(1){
    margin-left: -70px;
}
.cloud-bt p:nth-child(2){
    margin-left: 90px;
}
.share-circle{
    opacity: 0;
}
.cloud-bt-sec{
    position: absolute;
    top: 70%;
    left: 67%;
    height: 120px;
    font-size: 40px;
    color: rgb(255, 255, 255);
    text-shadow: 3px 3px 10px rgb(129, 162, 175);
}
.cloud-bt p:nth-child(1){
    margin-left: -20px;
}
.cloud-bt-sec p:nth-child(2) i{
    font-size: 60px;
}
.cloud-bt-sec p{
    padding: 5px 10px;
    line-height: 50px;
}
.cloud-bt-sec i{
    font-weight: normal;
    margin-right: 6px;
    font-size: 46px;
    vertical-align: middle;
}
/* 房间样式 */
.sca{
    animation: aa .8s;
}
@keyframes aa {
    0%{
        background-color: rgb(255, 255, 255,.4);
    }
    50%{
        /* background-color: rgb(255, 255, 255,.4); */
    }
    100%{
        background-color: rgb(255, 255, 255,.8);
    }
}

.bgc {
    animation: bgi 2s;
    animation-fill-mode: forwards;
    background-size: cover;
}
@keyframes bgi {
    0% {
        background-image: url(../images/close-door.png);
    }

    100% {
        background-image: url(../images/open-door.png);
    }
}
.open-door-pro {
    width: 1100px;
    height: 100%;
    background-image: url(../images/close-door.png);
    background-size: cover;
    background-position: 0 -30%;
    margin-left: 12%;
    background-repeat: no-repeat;
    /* opacity: 0; */
    transition: all .8s;
}
.open-circle{
    width: 300px;
    height: 500px;
    top: 0;
    bottom: 0;
    margin: auto;
    left: 0;
    right: 0;
    margin-top: 220px;
    position: absolute;
}
.delete-d{
    top: 3%;
    left: 95%;
    position: absolute;
    z-index: 1111111111111111;
    cursor: pointer;
}
.delete-d i{
    font-size: 50px;
}
/* 房间点点 */
/* 上面点点 */
.radio-button{
    width: 100px;
    height: 120px;
    left: 88.6%;
    top: 70%;
    cursor: pointer;
}
.radio-box{
    left: -25%;
    top: 86%;
}
.plan-button{
    width: 120px;
    height: 150px;
    left: 85%;
    top: 34%;
    cursor: pointer;
}
.plan-bt{
    left: 42%;
    top: 33%;
}
.plan-box{
    width: 100px;
    left: -25%;
    top: 70%;
}
.cl-button{
    width: 180px;
    height: 130px;
    left: 83%;
    top: 15%;
    /* background-color: antiquewhite; */
    cursor: pointer;
}
.cl-bt{
    left: 42%;
    top: 33%;
}
.cl-box{
    width: 100px;
    left: 1%;
    top: 75%;
}
.sl-button{
    width: 215px;
    height: 480px;
    left: 0;
    top:35%;
    /* background-color: antiquewhite; */
    cursor: pointer;
}
.sl-bt{
    left: 50%;
    top: 33%;
}
.sl-box{
    width: 100px;
    left: 72%;
    top: 32%;
}
.room-content {
    display: none;
}
.room-active {
    display: block;
}
.clock {
    display: none;
}
.school-box{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    position: absolute;
    top:100vh;
}
@keyframes w {
    0%{
        transform: translateY(-100vh);
    }
    100%{
        transform: translateY(0);
    }
    
}

.school-box2{
    background-image: url(../images/fisrt.png);
    background-size: cover;
}
.school-box1{
    top: -100vh;
}
.school-box>div{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    position: relative;
}
.first-active{
    position: absolute;
    top: 0;
    z-index: 111111111;
    transition: all .5s;
}
.first-act{
    animation: aa .3s;
}
@keyframes aa {
    0%{
        transform: translateY(0);
    }
    100%{
        transform: translateY(-100vh);
    }
}
.edit-content{
    width: 500px;
    height: 550px;
    position: absolute;
    top: 5%;
    left:7%;
    bottom: 0;
    right: 0;
    margin: auto;
    opacity: 0;
    transition: all .5s;
    pointer-events: none;
    z-index: 1111111;
}
.edit-bgc{
    background-color: #241c15;
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    opacity: .5;
    z-index: 11111;
    display: none;
}
.user-head{
    width: 450px;
    height: 520px;
    border-radius: 10px;
    background-color: #a2ddff;
    text-align: center;
    padding: 25px 20px;
    cursor: pointer;
}
.user-head form{
    width: 400px;
    height: 550px;
    margin: auto;
}
.user-head img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 3px solid #fff;
}
.user-data{
    margin-top: 16px;
}
.user-edit{
    display: block;
    font-size: 18px;
    margin-top: 10px;
}
.name-edit{
    font-size: 20px;
    margin-top: 12px;
    text-align: left;
}
.name-edit input{
    outline: none;
    border: none;
    background-color: transparent;
    font-size: 20px;
    margin-left: 15px;
    width: 260px;
    border-bottom: 1px solid #000;
}
.sex-edit input {
    vertical-align: middle;
    width: 20px;
    height: 20px;
    margin-right: 10px;
    border: 1px solid #86b8fd;
    border-radius: 50%;
    /* appearance: none; */
    /* 注意不能设置为display:none*/
    cursor: pointer;
}
.discuss-cl{
    width: 40px;
    height: 40px;
    position: absolute;
    top: 0;
    right: 0;
    font-size: 40px;
    margin-right: 20px;
    margin-top: 10px;
    cursor: pointer;
}
button{
    background-color: #86b8fd;
    border: none;
    color: white;
    padding: 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 10px;
    margin: 20px 25px 0 25px;
    cursor: pointer;
}
.two{
    float: right;
    margin-right: 20px;
    margin-left: 15px;
    vertical-align: middle;
    line-height: 93px;
}
.two i{
    margin-left: 5px;
    font-weight: 700;
}
.school-edit-one{
    position: relative;
}
.school-edit-one .school-edit-content{
    width: 264px;

}
.school-edit-content ul li{
    width: 264px;
    height: 20px;
    padding: 5px 0;
    border-radius: 10px;
}
.school-edit-content ul{
    background-color: #86b8fd;
    width: 264px;
    display: none;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    position: absolute;
    right: 12%;
}
.school-edit-content ul li:hover{
    background-color: #fff;
}
.school-edit-content{
    display: inline-block;
    width: 130px;
    height: 30px;
    border-radius: 5px;
    /* box-shadow: 0 0 5px #ccc; */
    margin-left: 16px;
}
.school-edit-two{
    height: 30px;
    border-radius: 5px;
}
select{
    border: none;
    outline: none;
    display: inline-block;
    width: 100%;
    height: 30px;
    line-height: 30px;
    overflow: auto;
    border-radius: 5px;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.school-edit-two select{
    width: 125px;
    float: left;
    margin-left: 10px;
    margin-top: 8px;
}
.school-edit-two select:nth-child(1){
    margin-left: 0px;
}
.school-edit-one option{
    height: 20px;
    font-size: 15px;
}
.school-edit-one .school-edit-two{
    margin-top: -15px;
}
.search-nav{
    width: 400px;
    height: 100%;
    /* overflow: hidden; */
}
.search-nav-top{
    position: absolute;
    right: 24%;
    top: 0;
    height: 44px;
    margin: 15px 0;
    line-height: 44px;
    width: 400px;
    display: none;
    animation: scroll .3s;
}
@keyframes scroll {
    0%{
        transform: translateX(60px);
        /* overflow: hidden; */
    }
    100%{
        transform: translateX(0);
        /* overflow: ; */
    }
}
.selected{
    width: 120px;
    line-height: 36px;
    padding: 3px;
    border-radius: 20px;
    text-align: center;
    background-color: #86b8fd;
    cursor: pointer;
    margin-top: -52px;
    margin-left: 5.5px;
    position: absolute;
    height: 36px;
    overflow: hidden;
    transition: all .3s;
}