@font-face {
    font-family: yuan;
    src: url(../AaYuanHeiTi/AaYuanHeiTi-2.ttf);
}
body{
    width: 100vw;
    height: 100vh;
    background-image: url(../images/fisrt.png);
    overflow: hidden;
}
.school-button {
    position: absolute;
}
.discuss-button {
    width: 400px;
    height: 200px;
    /* background-color: antiquewhite; */
    left: 56%;
    top: 11%;
    cursor: pointer;
}
.room-button {
    width: 100px;
    height: 160px;
    left: 6%;
    top: 46%;
    cursor: pointer;
    /* background-color: antiquewhite; */
}
.question-button {
    position: absolute;
    width: 400px;
    height: 150px;
    left: 0;
    top: 80%;
    cursor: pointer;
}
.discuss-bt{
    width: 20px;
    height: 20px;
    border: 3px solid #fff;
    border-radius: 50%;
    position: absolute;
    top: 30%;
    left: 46%;
}
.discuss-button .discuss-box{
    width: 130px;
}
.discuss-box{
    position: absolute;
    bottom: 0;
    height: 40px;
    width: 100%;
    line-height: 40px;
    padding: 0px 40px;
    border-radius: 10px;
    background-color: rgb(0, 0, 0,.4);
    left: 24%;
    top: 65%;
    font-family: yuan;
    font-size: 25px;
    color: rgb(255, 255, 255,.9);
    /* opacity: 0; */
    border: 3px solid #828b8e;
    /* transition: all .2s; */
}
.share-box{
    opacity: 0;
}
.discuss-ban{
    width: 100%;
    height: 100%;
    position: relative;
}
.room-bt{
    top: 20%;
    left: 25%;
}
.room-box{
    left: 100%;
    top: 15%;
}
.discuss-inner{
    width: 80%;
    height: 80%;
    margin-top: 2px;
    margin-left: 2.5px;
    box-shadow: 10px 10px 30px rgb(189, 191, 193);
    border-radius: 50%;
    background-color: rgb(255, 240, 221);
    opacity: 0;
}
.school-bgc {
    cursor: pointer;
    background-color: rgb(255, 255, 255,.8);
    background-size: cover;
}
.question-bt{
    top: 20%;
    left: 25%;
}
.question-box{
    width: 100px;
    top: 57%;
    left: 7%;
}
.cloud-bt{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 28%;
    height: 160px;
    margin: auto;
    padding: 20px 80px;
    border-radius: 10px;
    /* background-color: rgba(185, 228, 242, 0.4); */
    font-family: yuan;
    color: rgb(255, 255, 255,.9);
    text-shadow: 3px 3px 10px rgb(129, 162, 175);
    font-size: 80px;
    z-index: 11111111;
    cursor: pointer;
}
.cloud-bt i{
    font-weight: 700;
    margin-right: 20px;
    font-size: 60px;
}
.cloud-bt p{
    padding: 5px 10px;
    line-height: 90px;
}
.cloud-bt p:nth-child(1){
    margin-left: -70px;
}
.cloud-bt p:nth-child(2){
    margin-left: 90px;
}
.share-circle{
    opacity: 0;
}
.cloud-bt-sec{
    position: absolute;
    top: 70%;
    left: 67%;
    height: 120px;
    font-size: 40px;
    color: rgb(255, 255, 255);
    text-shadow: 3px 3px 10px rgb(129, 162, 175);
}
.cloud-bt p:nth-child(1){
    margin-left: -20px;
}
.cloud-bt-sec p:nth-child(2) i{
    font-size: 60px;
}
.cloud-bt-sec p{
    padding: 5px 10px;
    line-height: 50px;
}
.cloud-bt-sec i{
    font-weight: normal;
    margin-right: 6px;
    font-size: 46px;
    vertical-align: middle;
}
/* 房间样式 */
.sca{
    animation: aa .8s;
}
@keyframes aa {
    0%{
        background-color: rgb(255, 255, 255,.4);
    }
    50%{
        /* background-color: rgb(255, 255, 255,.4); */
    }
    100%{
        background-color: rgb(255, 255, 255,.8);
    }
}

.bgc {
    animation: bgi 2s;
    animation-fill-mode: forwards;
    background-size: cover;
}
@keyframes bgi {
    0% {
        background-image: url(../images/close-door.png);
    }

    100% {
        background-image: url(../images/open-door.png);
    }
}
.open-door-pro {
    width: 1100px;
    height: 100%;
    background-image: url(../images/close-door.png);
    background-size: cover;
    background-position: 0 -30%;
    margin-left: 12%;
    background-repeat: no-repeat;
    /* opacity: 0; */
    transition: all .8s;
}
.open-circle{
    width: 300px;
    height: 500px;
    top: 0;
    bottom: 0;
    margin: auto;
    left: 0;
    right: 0;
    margin-top: 220px;
    position: absolute;
}
.delete-d{
    top: 3%;
    left: 95%;
    position: absolute;
    z-index: 1111111111111111;
    cursor: pointer;
}
.delete-d i{
    font-size: 50px;
}
/* 房间点点 */
/* 上面点点 */
.radio-button{
    width: 100px;
    height: 120px;
    left: 88.6%;
    top: 70%;
    cursor: pointer;
}
.radio-box{
    left: -25%;
    top: 86%;
}
.plan-button{
    width: 120px;
    height: 150px;
    left: 85%;
    top: 34%;
    cursor: pointer;
}
.plan-bt{
    left: 42%;
    top: 33%;
}
.plan-box{
    width: 100px;
    left: -25%;
    top: 70%;
}
.cl-button{
    width: 180px;
    height: 130px;
    left: 83%;
    top: 15%;
    /* background-color: antiquewhite; */
    cursor: pointer;
}
.cl-bt{
    left: 42%;
    top: 33%;
}
.cl-box{
    width: 100px;
    left: 1%;
    top: 75%;
}
.sl-button{
    width: 215px;
    height: 480px;
    left: 0;
    top:35%;
    /* background-color: antiquewhite; */
    cursor: pointer;
}
.sl-bt{
    left: 50%;
    top: 33%;
}
.sl-box{
    width: 100px;
    left: 72%;
    top: 32%;
}
.room-content {
    display: none;
}
.room-active {
    display: block;
}
.clock {
    display: none;
}
.school-box{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    position: absolute;
    top:100vh;
}
@keyframes w {
    0%{
        transform: translateY(-100vh);
    }
    100%{
        transform: translateY(0);
    }
    
}

.school-box2{
    background-image: url(../images/fisrt.png);
    background-size: cover;
}
.school-box1{
    top: -100vh;
}
.school-box>div{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    position: relative;
}
.first-active{
    position: absolute;
    top: 0;
    z-index: 111111111;
    transition: all .5s;
}
.first-act{
    animation: aa .3s;
}
@keyframes aa {
    0%{
        transform: translateY(0);
    }
    100%{
        transform: translateY(-100vh);
    }
}