.hidden {
    /*display: none;*/
    opacity: 0;
    z-index: 99;
    position: fixed;
    top: 0;
    right: 10px;
    width: 310px;
    height: 75px;
    padding-left: 40px;
    background-color: #F1F9EA;
    border: 1px solid #E2F3D6;
    border-radius: 5px;
    line-height: 75px;
    font-size: 0;
    transition: opacity .5s;
}
.hidden1 {
    opacity: 0;
    z-index: 99;
    position: fixed;
    top: 0;
    right: 10px;
    width: 310px;
    height: 75px;
    padding-left: 40px;
    background-color: #FCF0F0;
    border: 1px solid #FAE2E2;
    border-radius: 5px;
    font-size: 0;
    transition: opacity .5s;
    /*text-align: center;*/
    line-height: 75px;
}
.hidden  input {
    position: absolute;
    width: 100%;
    top: 26px;
    left: 70px;
    font-size: 16px;
    border: 0;
    background-color: transparent;
    color: #71C216;
}
.hidden1 input {
    position: absolute;
    width: 100%;
    top: 26px;
    left: 70px;
    font-size: 16px;
    border: 0;
    background-color: transparent;
    color: #EA6D6B;
}
.hidden .icon-chenggong {
    position: absolute;
    color: #62C400;
    margin-right: 10px;
}
.hidden1 .icon-cuowu {
    font-size: 16px;
    position: absolute;
    color: #EA6D6B;
    margin-right: 10px;
}