@font-face {
  font-family: "iconfont"; /* Project id 3332416 */
  src: url('iconfont.woff2?t=1668154036375') format('woff2'),
       url('iconfont.woff?t=1668154036375') format('woff'),
       url('iconfont.ttf?t=1668154036375') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-zitijiacu:before {
  content: "\ec83";
}

.icon-zitibiaoti:before {
  content: "\ec84";
}

.icon-italic:before {
  content: "\e61c";
}

.icon-shuyi_qunliao:before {
  content: "\e661";
}

.icon-shijian:before {
  content: "\e8c5";
}

.icon-qianmingshezhi:before {
  content: "\e650";
}

.icon-add-circle:before {
  content: "\e664";
}

.icon-yuanxiao:before {
  content: "\e634";
}

.icon-qianming:before {
  content: "\e66c";
}

.icon-chat:before {
  content: "\e69d";
}

.icon-mubiao:before {
  content: "\e723";
}

.icon-danxuankuang:before {
  content: "\e782";
}

.icon-danxuankuang-xuanzhong:before {
  content: "\e783";
}

.icon-unlock:before {
  content: "\e7fa";
}

.icon-lock1:before {
  content: "\e7fb";
}

.icon-more:before {
  content: "\e684";
}

.icon-close_circle:before {
  content: "\e66e";
}

.icon-lock:before {
  content: "\e6c0";
}

.icon-user:before {
  content: "\e7ae";
}

.icon-email:before {
  content: "\e66f";
}

.icon-xiangyou1:before {
  content: "\e775";
}

.icon-xiangzuo:before {
  content: "\eb15";
}

.icon-lianjie:before {
  content: "\e601";
}

.icon-biaoqing:before {
  content: "\e602";
}

.icon-pinglun:before {
  content: "\e891";
}

.icon-dianzan:before {
  content: "\ec7f";
}

.icon-charutupian:before {
  content: "\ec80";
}

.icon-fenxiang:before {
  content: "\e8b0";
}

.icon-huatifuhao:before {
  content: "\e8b1";
}

.icon-guanzhuxuanzhong:before {
  content: "\e600";
}

.icon-shoucang:before {
  content: "\e8c2";
}

.icon-yonghu:before {
  content: "\e8c8";
}

.icon-zuijinlaifang:before {
  content: "\e6d7";
}

.icon-huati:before {
  content: "\e8c4";
}

.icon-yueliang:before {
  content: "\e764";
}

.icon-taiyang:before {
  content: "\e603";
}

.icon-youjiantou:before {
  content: "\e619";
}

.icon-huiyuan:before {
  content: "\e60f";
}

.icon-sousuo:before {
  content: "\e636";
}

.icon-xiala2:before {
  content: "\e694";
}

.icon-xiala1:before {
  content: "\e695";
}

.icon-rilirichengjihua:before {
  content: "\e699";
}

.icon-calendar-fill:before {
  content: "\e67d";
}

